<a href="https://colab.research.google.com/github/Aarushi900/Data_Mining/blob/main/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

K-Fold Cross Validation for Multiple Linear Regression (Least Square Error Fit)
Download the dataset regarding USA House Price Prediction from the following link:

https://drive.google.com/file/d/1O_NwpJT-8xGfU_-3llUl2sgPu0xllOrX/view?usp=sharing

Load the dataset and Implement 5- fold cross validation for multiple linear regression

(using least square error fit).
Steps:

a) Divide the dataset into input features (all columns except price) and output variable
(price)

b) Scale the values of input features.

c) Divide input and output features into five folds.

d) Run five iterations, in each iteration consider one-fold as test set and remaining
four sets as training set. Find the beta (��) matrix, predicted values, and R2_score
for each iteration using least square error fit.

e) Use the best value of (��) matrix (for which R2_score is maximum), to train the regressor for 70% of data and test the performance for remaining 30% data.

In [2]:
import pandas as pd

In [3]:
data= pd.read_csv('/content/USA_Housing.csv')

In [4]:
print(data.head())

   Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
0       79545.45857             5.682861                   7.009188
1       79248.64245             6.002900                   6.730821
2       61287.06718             5.865890                   8.512727
3       63345.24005             7.188236                   5.586729
4       59982.19723             5.040555                   7.839388

   Avg. Area Number of Bedrooms  Area Population         Price
0                          4.09      23086.80050  1.059034e+06
1                          3.09      40173.07217  1.505891e+06
2                          5.13      36882.15940  1.058988e+06
3                          3.26      34310.24283  1.260617e+06
4                          4.23      26354.10947  6.309435e+05

In [5]:
x=data.drop('Price',axis=1)
y = data['Price']

In [6]:
print(x.head())
print(y.head())

   Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
0       79545.45857             5.682861                   7.009188
1       79248.64245             6.002900                   6.730821
2       61287.06718             5.865890                   8.512727
3       63345.24005             7.188236                   5.586729
4       59982.19723             5.040555                   7.839388

   Avg. Area Number of Bedrooms  Area Population
0                          4.09      23086.80050
1                          3.09      40173.07217
2                          5.13      36882.15940
3                          3.26      34310.24283
4                          4.23      26354.10947
0    1.059034e+06
1    1.505891e+06
2    1.058988e+06
3    1.260617e+06
4    6.309435e+05
Name: Price, dtype: float64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
dtypes: float64(6)
memory usage: 234.5 KB

In [8]:
max_values = x.max()
x = x.divide(max_values) * 10

In [9]:
print(x.head())

   Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
0          7.385717             5.969964                   6.514365
1          7.358157             6.306171                   6.255649
2          5.690443             6.162239                   7.911759
3          5.881542             7.551392                   5.192326
4          5.569287             5.295207                   7.285955

   Avg. Area Number of Bedrooms  Area Population
0                      6.292308         3.316035
1                      4.753846         5.770193
2                      7.892308         5.297508
3                      5.015385         4.928095
4                      6.507692         3.785329

In [11]:
import numpy as np

indices = np.random.permutation(len(x))
x_shuffled = x.iloc()[indices]
y_shuffled = y[indices]

# Split the data into five folds
num_folds = 5
fold_size = len(x) // num_folds

input_folds = []
output_folds = []

for i in range(num_folds):
    start_idx = i * fold_size
    end_idx = (i + 1) * fold_size if i < num_folds - 1 else len(x)

    x_fold = x_shuffled.iloc()[start_idx:end_idx]
    y_fold = y_shuffled[start_idx:end_idx]

    input_folds.append(x_fold)
    output_folds.append(y_fold)

# Display the folds
for i in range(num_folds):
    print(f"Fold {i + 1}:")
    print("Input features:")
    print(input_folds[i])
    print("Output features:")
    print(output_folds[i])
    print()

Fold 1:
Input features:
      Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
665           7.131862             8.333140                   6.852404
2867          5.889209             5.425154                   8.114534
4103          6.911304             3.711598                   5.710487
2945          6.746005             7.926819                   6.693400
549           5.980227             6.630045                   5.486347
...                ...                  ...                        ...
3650          6.527194             5.986229                   6.100998
1178          7.523070             6.089853                   6.241048
3255          6.649265             4.136507                   7.666808
589           4.959858             6.654296                   7.829370
3112          8.237838             6.160743                   5.564734

      Avg. Area Number of Bedrooms  Area Population
665                       6.153846         3.988734
2867                      9.230769         4.551731
4103                      4.615385         7.403792
2945                      6.307692         3.393094
549                       4.707692         5.862810
...                            ...              ...
3650                      3.076923         4.761067
1178                      3.153846         3.711179
3255                      8.292308         5.303805
589                       6.169231         4.822166
3112                      6.246154         4.294159

[1000 rows x 5 columns]
Output features:
665     1610006.605
2867    1307173.872
4103    1329521.139
2945    1612102.097
549     1113570.852
           ...
3650    1172619.597
1178    1319478.287
3255    1188255.081
589     1250882.292
3112    1547127.386
Name: Price, Length: 1000, dtype: float64

Fold 2:
Input features:
      Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
1381          7.592785             6.063619                   6.967252
4805          5.985967             6.338611                   7.070351
246           6.070736             5.669471                   7.108437
3231          6.597150             5.351137                   6.637883
2578          4.776634             7.186787                   6.954557
...                ...                  ...                        ...
736           8.148941             5.680146                   7.662591
4234          7.318239             6.660971                   8.060033
373           7.067036             6.700155                   7.190140
749           4.655889             6.430868                   7.107168
467           6.428006             6.799095                   4.686588

      Avg. Area Number of Bedrooms  Area Population
1381                      9.753846         4.319159
4805                      5.092308         4.200910
246                       9.353846         5.992822
3231                      5.307692         6.712225
2578                      7.938462         6.458627
...                            ...              ...
736                       9.861538         5.732456
4234                      4.630769         2.963342
373                       7.800000         3.803628
749                       4.984615         6.209747
467                       3.492308         6.186604

[1000 rows x 5 columns]
Output features:
1381    1500939.827
4805    1057308.290
246     1165253.033
3231    1379456.031
2578    1093873.291
           ...
736     1739628.383
4234    1398466.628
373     1487849.876
749     1353854.478
467     1220276.551
Name: Price, Length: 1000, dtype: float64

Fold 3:
Input features:
      Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
927           7.530015             6.758883                   6.631373
1997          6.450025             5.133924                   6.827080
2538          7.693431             8.499116                   6.438157
4333          6.620868             5.604754                   6.978215
4584          6.577629             6.484766                   6.457162
...                ...                  ...                        ...
2336          4.590040             6.867637                   5.625232
4725          8.554018             6.479688                   6.082894
789           5.759698             5.499698                   6.583415
3801          6.415069             7.436152                   6.553818
2669          5.703343             4.352342                   6.026342

      Avg. Area Number of Bedrooms  Area Population
927                       6.661538         4.277426
1997                      6.307692         8.000441
2538                      6.784615         8.623825
4333                      5.261538         3.967033
4584                      4.830769         6.174436
...                            ...              ...
2336                      5.138462         6.239720
4725                      6.292308         5.726714
789                       6.753846         3.629199
3801                      8.338462         4.697936
2669                      5.107692         6.564236

[1000 rows x 5 columns]
Output features:
927     1.626942e+06
1997    1.424994e+06
2538    2.294648e+06
4333    1.061518e+06
4584    1.519928e+06
            ...
2336    9.271638e+05
4725    1.794212e+06
789     8.008091e+05
3801    1.339304e+06
2669    8.919811e+05
Name: Price, Length: 1000, dtype: float64

Fold 4:
Input features:
      Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
1777          5.666147             9.426786                   7.347489
3162          5.985886             4.763627                   5.426834
587           4.820585             6.190191                   6.235191
1716          4.622478             6.829174                   8.052045
1394          6.799430             5.727843                   4.747875
...                ...                  ...                        ...
4438          4.829835             5.580648                   7.281808
4185          6.810073             5.576496                   7.323453
2436          5.155896             7.166507                   8.387674
4635          5.558093             8.505966                   5.819945
1022          4.902611             6.166333                   5.739562

      Avg. Area Number of Bedrooms  Area Population
1777                      9.692308         4.988496
3162                      3.123077         6.283383
587                       5.184615         3.552686
1716                      6.338462         5.251915
1394                      4.738462         5.858533
...                            ...              ...
4438                      6.261538         8.724668
4185                      9.907692         6.642384
2436                      6.230769         6.464685
4635                      3.261538         6.595525
1022                      4.892308         3.090709

[1000 rows x 5 columns]
Output features:
1777    1.468267e+06
3162    9.098858e+05
587     6.610434e+05
1716    1.144507e+06
1394    1.100094e+06
            ...
4438    1.248690e+06
4185    1.629574e+06
2436    1.460341e+06
4635    1.434324e+06
1022    6.851231e+05
Name: Price, Length: 1000, dtype: float64

Fold 5:
Input features:
      Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
3237          5.821589             7.806610                   5.328296
4239          6.375128             5.253826                   5.932075
2991          7.543814             8.340089                   6.272999
2660          6.819861             6.269703                   5.489931
1304          7.668175             5.998812                   6.202896
...                ...                  ...                        ...
4875          5.448046             6.280304                   5.266704
3632          6.008593             5.845579                   5.270640
1074          6.036692             2.777897                   7.719909
2607          4.878409             5.132050                   6.715426
4317          7.454445             6.040427                   4.843990

      Avg. Area Number of Bedrooms  Area Population
3237                      5.215385         6.667384
4239                      3.200000         3.652797
2991                      6.538462         7.026906
2660                      3.230769         7.074202
1304                      5.323077         8.033733
...                            ...              ...
4875                      5.230769         8.082172
3632                      4.692308         1.922593
1074                      9.307692         2.284141
2607                      4.923077         5.926062
4317                      4.661538         6.985440

[1000 rows x 5 columns]
Output features:
3237    1.252733e+06
4239    8.954410e+05
2991    1.969257e+06
2660    1.342815e+06
1304    1.765988e+06
            ...
4875    1.213852e+06
3632    4.855337e+05
1074    4.145712e+05
2607    8.429859e+05
4317    1.439029e+06
Name: Price, Length: 1000, dtype: float64

In [13]:
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [14]:
# Perform k-fold cross-validation
best_r2_score = -np.inf
best_beta_coefficients = None

for i in range(num_folds):
    print(f"Fold {i + 1}:")

    # Prepare training and testing sets
    training_set_x = [x_fold for j, x_fold in enumerate(input_folds) if j != i]
    training_set_y = [y_fold for j, y_fold in enumerate(output_folds) if j != i]
    testing_set_x = input_folds[i]
    testing_set_y = output_folds[i]

    # Concatenate the training data
    training_set_x = pd.concat(training_set_x)
    training_set_y = np.concatenate(training_set_y)

    # Fit the linear regression model
    X_train = np.c_[np.ones(training_set_x.shape[0]), training_set_x.to_numpy()]
    beta_coefficients = np.linalg.inv(X_train.T.dot(X_train)).dot(X_train.T).dot(training_set_y)

    # Add intercept to testing data
    testing_set_x = np.c_[np.ones(testing_set_x.shape[0]), testing_set_x.to_numpy()]

    # Predict on testing data
    y_pred = testing_set_x.dot(beta_coefficients)

    # Compute R2 score
    r2 = r2_score(testing_set_y, y_pred)

    # Print R2 score and beta matrix for this fold
    print("R2 score:", r2)
    print("Beta matrix:", beta_coefficients)
    print()

    # Save the best beta coefficients
    if r2 > best_r2_score:
        best_r2_score = r2
        best_beta_coefficients = beta_coefficients

# Train the regressor using the best beta coefficients on 70% of the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

X_train = np.c_[np.ones(x_train.shape[0]), x_train.to_numpy()]
best_beta_coefficients = np.linalg.inv(X_train.T.dot(X_train)).dot(X_train.T).dot(y_train)

# Add intercept to testing data
X_test = np.c_[np.ones(x_test.shape[0]), x_test.to_numpy()]

# Predict on testing data
y_pred = X_test.dot(best_beta_coefficients)

# Compute R2 score for the test data
r2_test = r2_score(y_test, y_pred)
print("R2 score on test data:", r2_test)
print("Best beta coefficients:", best_beta_coefficients)

Fold 1:
R2 score: 0.9205112970899236
Beta matrix: [-2.62940381e+06  2.31138040e+05  1.58801113e+05  1.28858242e+05
  9.85371646e+02  1.06053833e+05]

Fold 2:
R2 score: 0.9121903393165897
Beta matrix: [-2.63902208e+06  2.33307073e+05  1.56626077e+05  1.30406906e+05
  3.04321514e+02  1.06328983e+05]

Fold 3:
R2 score: 0.9228419827002154
Beta matrix: [-2.63514139e+06  2.32945080e+05  1.57461365e+05  1.29351804e+05
  1.36403325e+03  1.05185117e+05]

Fold 4:
R2 score: 0.91142958247775
Beta matrix: [-2.64399966e+06  2.32450629e+05  1.57848023e+05  1.30152520e+05
  1.51006242e+03  1.05947094e+05]

Fold 5:
R2 score: 0.9210228571486787
Beta matrix: [-2.63860133e+06  2.32139931e+05  1.57583783e+05  1.30350546e+05
  1.21165305e+03  1.05636859e+05]

R2 score on test data: 0.9146818498916275
Best beta coefficients: [-2.63867343e+06  2.32913636e+05  1.57626953e+05  1.28929762e+05
  1.53471192e+03  1.05940447e+05]

2

In [40]:
# Step 1: Divide the dataset into training, validation, and test sets
x_trainval, x_test, y_trainval, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
x_train, x_val, y_train, y_val = train_test_split(x_trainval, y_trainval, test_size=0.2, random_state=42)

# Step 2: Choose four different values of the learning rate
learning_rates = [0.001, 0.01, 0.1, 1]

# Step 3-6: Train the model, compute regression coefficients, and evaluate performance for each learning rate
best_r2_score = -np.inf
best_beta_coefficients = None

for lr in learning_rates:
    # Initialize beta coefficients
    beta = np.zeros(x_train.shape[1] + 1)

    # Perform gradient descent
    for _ in range(450):  # 1000 iterations
        # Compute predictions
        y_pred = np.dot(x_train, beta[1:]) + beta[0]

        # Compute errors
        errors = y_train - y_pred

        # Compute gradients
        gradients = -2 * np.dot(errors, x_train) / len(y_train)
        gradients /= np.linalg.norm(gradients)
        # Update beta coefficients
        beta[1:] -= lr * gradients
        beta[0] -= lr * np.mean(errors)

    # Compute R2 score for validation set
    # print(errors)
    # print(gradients)
    y_val_pred = np.dot(x_val, beta[1:]) + beta[0]
    r2_val = r2_score(y_val, y_val_pred)

    # Compute R2 score for test set
    y_test_pred = np.dot(x_test, beta[1:]) + beta[0]
    r2_test = r2_score(y_test, y_test_pred)
    # print(x_train.isnull().sum())
    # print(x_val.isnull().sum())
    # print(x_test.isnull().sum())
    # print(y_train.isnull().sum())
    # print(y_val.isnull().sum())
    # print(y_test_.isnull().sum())
    # print(lr)
    # print(y_val_pred)
    # print(y_test_pred)
    # print('-----------------------------------------------------------------------------')




    print(f"Learning Rate: {lr}, R2 Score (Validation): {r2_val}, R2 Score (Test): {r2_test}")

    # Update best beta coefficients if R2 score on validation set is higher
    if r2_val > best_r2_score:
        best_r2_score = r2_val
        best_beta_coefficients = beta

print("Best beta coefficients:", best_beta_coefficients)

Learning Rate: 0.001, R2 Score (Validation): -29.510329956301987, R2 Score (Test): -31.9259774270362
Learning Rate: 0.01, R2 Score (Validation): -95036.8187079881, R2 Score (Test): -99747.88685505732
Learning Rate: 0.1, R2 Score (Validation): -2.1990787482801517e+38, R2 Score (Test): -2.3068254995824155e+38
Learning Rate: 1, R2 Score (Validation): -1.0370990508822434e+272, R2 Score (Test): -1.0879130808930448e+272
Best beta coefficients: [-6.99971422e+05  2.10556881e-01  2.06367108e-01  2.12984216e-01
  2.01835635e-01  1.71692773e-01]

1. Load the dataset with following column names [&quot;symboling&quot;, &quot;normalized_losses&quot;,
&quot;make&quot;, &quot;fuel_type&quot;, &quot;aspiration&quot;,&quot;num_doors&quot;, &quot;body_style&quot;, &quot;drive_wheels&quot;,
&quot;engine_location&quot;, &quot;wheel_base&quot;, &quot;length&quot;, &quot;width&quot;, &quot;height&quot;, &quot;curb_weight&quot;,
&quot;engine_type&quot;, &quot;num_cylinders&quot;, &quot;engine_size&quot;, &quot;fuel_system&quot;, &quot;bore&quot;, &quot;stroke&quot;,
&quot;compression_ratio&quot;, &quot;horsepower&quot;, &quot;peak_rpm&quot;, &quot;city_mpg&quot;, &quot;highway_mpg&quot;, &quot;price&quot;]
and replace all ? values with NaN
2. Replace all NaN values with central tendency imputation. Drop the rows with NaN
values in price column
3. There are 10 columns in the dataset with non-numeric values. Convert these values to
numeric values using following scheme:
(i) For “num_doors” and “num_cylinders”: convert words (number names) to figures
for e.g., two to 2
(ii) For &quot;body_style&quot;, &quot;drive_wheels&quot;: use dummy encoding scheme
(iii) For “make”, “aspiration”, “engine_location”,fuel_type: use label encoding
scheme
(iv) For fuel_system: replace values containing string pfi to 1 else all values to 0.
(v) For engine_type: replace values containing string ohc to 1 else all values to 0.
4. Divide the dataset into input features (all columns except price) and output variable
(price). Scale all input features.
5. Train a linear regressor on 70% of data (using inbuilt linear regression function of
Python) and test its performance on remaining 30% of data.
6. Reduce the dimensionality of the feature set using inbuilt PCA decomposition and then
again train a linear regressor on 70% of reduced data (using inbuilt linear regression
function of Python). Does it lead to any performance improvement on test set?

In [48]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.decomposition import PCA
from sklearn.metrics import mean_squared_error

In [85]:
data1= pd.read_csv('/content/Automobile_data.csv',na_values='?')

In [86]:
print(data1.head())

   symboling  normalized-losses         make fuel-type aspiration  \
0          3                NaN  alfa-romero       gas        std
1          3                NaN  alfa-romero       gas        std
2          1                NaN  alfa-romero       gas        std
3          2              164.0         audi       gas        std
4          2              164.0         audi       gas        std

  num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0          two  convertible          rwd           front        88.6  ...
1          two  convertible          rwd           front        88.6  ...
2          two    hatchback          rwd           front        94.5  ...
3         four        sedan          fwd           front        99.8  ...
4         four        sedan          4wd           front        99.4  ...

   engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0          130         mpfi  3.47    2.68               9.0      111.0
1          130         mpfi  3.47    2.68               9.0      111.0
2          152         mpfi  2.68    3.47               9.0      154.0
3          109         mpfi  3.19    3.40              10.0      102.0
4          136         mpfi  3.19    3.40               8.0      115.0

   peak-rpm city-mpg  highway-mpg    price
0    5000.0       21           27  13495.0
1    5000.0       21           27  16500.0
2    5000.0       19           26  16500.0
3    5500.0       24           30  13950.0
4    5500.0       18           22  17450.0

[5 rows x 26 columns]

In [87]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           203 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [88]:
print(set(data1['num-of-doors']))
print(set(data1['num-of-cylinders']))

{nan, 'two', 'four'}
{'twelve', 'four', 'eight', 'six', 'five', 'three', 'two'}

In [89]:
# Convert words to figures in 'num_doors'
data1['num-of-doors'] = data1['num-of-doors'].replace({ 'two': 2, 'four': 4})
data1['num-of-cylinders']=data1['num-of-cylinders'].replace({'twelve': 12, 'four': 4, 'eight': 8, 'six': 6, 'five': 5, 'three': 3, 'two': 2}
)

In [90]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    float64
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    int64
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           203 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(12), int64(6), object(8)
memory usage: 41.8+ KB

In [92]:
data1=data1.dropna(subset=['price'])
columns=['normalized-losses','num-of-doors','bore','stroke','horsepower','peak-rpm','num-of-cylinders']
data1_numeric = data1[columns]
imputer = SimpleImputer(strategy='mean')
data1_numeric = imputer.fit_transform(data1_numeric)
data1[columns]=data1_numeric

In [93]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          201 non-null    int64
 1   normalized-losses  201 non-null    float64
 2   make               201 non-null    object
 3   fuel-type          201 non-null    object
 4   aspiration         201 non-null    object
 5   num-of-doors       201 non-null    float64
 6   body-style         201 non-null    object
 7   drive-wheels       201 non-null    object
 8   engine-location    201 non-null    object
 9   wheel-base         201 non-null    float64
 10  length             201 non-null    float64
 11  width              201 non-null    float64
 12  height             201 non-null    float64
 13  curb-weight        201 non-null    int64
 14  engine-type        201 non-null    object
 15  num-of-cylinders   201 non-null    float64
 16  engine-size        201 non-null    int64
 17  fuel-system        201 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  201 non-null    float64
 21  horsepower         201 non-null    float64
 22  peak-rpm           201 non-null    float64
 23  city-mpg           201 non-null    int64
 24  highway-mpg        201 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(13), int64(5), object(8)
memory usage: 42.4+ KB

In [94]:
data1 = pd.get_dummies(data1, columns=['body-style', 'drive-wheels'], drop_first=True)

In [95]:
label_encoders = {}
for col in ['make', 'aspiration', 'engine-location', 'fuel-type']:
    label_encoders[col] = LabelEncoder()
    data1[col] = label_encoders[col].fit_transform(data1[col])

In [96]:
data1['fuel-system'] = data1['fuel-system'].apply(lambda x: 1 if 'pfi' in str(x) else 0)
data1['engine-type'] = data1['engine-type'].apply(lambda x: 1 if 'ohc' in str(x) else 0)

In [97]:
x = data1.drop(columns=['price'])
y = data1['price']

In [98]:
numeric_col=[]
for column in x.columns:
    if x[column].dtype != "object":
        numeric_col.append(column)
x1=x[numeric_col]
scaler = StandardScaler()
X_scaled = scaler.fit_transform(x1)

In [99]:
x[numeric_col]=x1

In [100]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 12038427.941852089

In [101]:
print(X_train.dtypes)
print(y_train.dtypes)

symboling                 int64
normalized-losses       float64
make                      int64
fuel-type                 int64
aspiration                int64
num-of-doors            float64
engine-location           int64
wheel-base              float64
length                  float64
width                   float64
height                  float64
curb-weight               int64
engine-type               int64
num-of-cylinders        float64
engine-size               int64
fuel-system               int64
bore                    float64
stroke                  float64
compression-ratio       float64
horsepower              float64
peak-rpm                float64
city-mpg                  int64
highway-mpg               int64
body-style_hardtop         bool
body-style_hatchback       bool
body-style_sedan           bool
body-style_wagon           bool
drive-wheels_fwd           bool
drive-wheels_rwd           bool
dtype: object
float64

In [102]:
pca = PCA(n_components=10)  # Choose number of components as per your requirement
X_train_pca = pca.fit_transform(X_train)
X_test_pca = pca.transform(X_test)

In [103]:
regressor_pca = LinearRegression()
regressor_pca.fit(X_train_pca, y_train)
y_pred_pca = regressor_pca.predict(X_test_pca)
mse_pca = mean_squared_error(y_test, y_pred_pca)
print("Mean Squared Error (with PCA):", mse_pca)

Mean Squared Error (with PCA): 19948213.20966968